
<!DOCTYPE html>

<html> <!-- test -->
<head>
    <link href="~/Content/Information.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>HostInformation</title>
</head>
<body>
    <div>

        <h1>Information</h1>

        <input type="text" name="username" id="username" placeholder="username" required><br><br>

        <button type="submit" name="button" id="submit">Let's go!</button>

    </div>
</body>
</html>
