@model WebApp.Models.Gameboard

<html>
<head>
    <link href="reset.css" rel="stylesheet" />
    <link href="~/Content/Game.css" rel="stylesheet" type="text/css" />
   
</head>
<body>


      
    <h1>Tic Tac Toe</h1>

            @*Själva spelrutan är här*@
            <div id="board" class="gameBox">

                <a href="/TicTacToe/Game?fieldId=0" class="ruta" style="background-color:@Model.FieldColor[0];"></a>
                <a href="/TicTacToe/Game?fieldId=1" class="ruta" style="background-color:@Model.FieldColor[1];"></a>
                <a href="/TicTacToe/Game?fieldId=2" class="ruta" style="background-color:@Model.FieldColor[2];"></a><br />

                <a href="/TicTacToe/Game?fieldId=3" class="ruta" style="background-color:@Model.FieldColor[3];"></a>
                <a href="/TicTacToe/Game?fieldId=4" class="ruta" style="background-color:@Model.FieldColor[4];"></a>
                <a href="/TicTacToe/Game?fieldId=5" class="ruta" style="background-color:@Model.FieldColor[5];"></a><br />

                <a href="/TicTacToe/Game?fieldId=6" class="ruta" style="background-color:@Model.FieldColor[6];"></a>
                <a href="/TicTacToe/Game?fieldId=7" class="ruta" style="background-color:@Model.FieldColor[7];"></a>
                <a href="/TicTacToe/Game?fieldId=8" class="ruta" style="background-color:@Model.FieldColor[8];"></a>

            </div>
            
            @*Resultatrutan här*@
            <div id="score" class="resultBox">
                <table id="scoreBox">
                    <thead>Score</thead>
                    <tr>
                        <td>@ViewBag.Player1</td>
                        <td>@ViewBag.Player2</td>
                        <td>Tie</td>
                    </tr>
                    <tr>
                        <td id="Player1">0</td>
                        <td id="Player2">0</td>
                        <td id="Ties">0</td>
                    </tr>
                </table>

                <div class="bar"><h3>[ X ] It's your turn!</h3></div>

            </div>



            <div class="bar"><h4>// made by Top Four Game Developers \\</h4></div>





</body>
</html>