@model WebApp.Models.Gameboard

<html>
<head>
    <link href="reset.css" rel="stylesheet" />
    <link href="~/Content/Game.css" rel="stylesheet" type="text/css" />
   
</head>
<body>


      
    <h1>Tic Tac Toe</h1>

            <div id="board" class="gameBox">

                <a href="/TicTacToe/Game?fieldId=0" class="ruta" style="background-color:@Model.FieldColor[0];"></a>
                <a href="/TicTacToe/Game?fieldId=1" class="ruta" style="background-color:@Model.FieldColor[1];"></a>
                <a href="/TicTacToe/Game?fieldId=2" class="ruta" style="background-color:@Model.FieldColor[2];"></a><br />

                <a href="/TicTacToe/Game?fieldId=3" class="ruta" style="background-color:@Model.FieldColor[3];"></a>
                <a href="/TicTacToe/Game?fieldId=4" class="ruta" style="background-color:@Model.FieldColor[4];"></a>
                <a href="/TicTacToe/Game?fieldId=5" class="ruta" style="background-color:@Model.FieldColor[5];"></a><br />

                <a href="/TicTacToe/Game?fieldId=6" class="ruta" style="background-color:@Model.FieldColor[6];"></a>
                <a href="/TicTacToe/Game?fieldId=7" class="ruta" style="background-color:@Model.FieldColor[7];"></a>
                <a href="/TicTacToe/Game?fieldId=8" class="ruta" style="background-color:@Model.FieldColor[8];"></a>

                        @*<a href="/TicTacToe/Game?fieldId=1"><div class="ruta" style="background-color:@Model.FieldColor[1];"></div></a>
                        <a href="/TicTacToe/Game?fieldId=2"><div class="ruta" style="background-color:@Model.FieldColor[2];"></div></a> <br />

                        <a href="/TicTacToe/Game?fieldId=3"><div class="ruta" style="background-color:@Model.FieldColor[3];"></div></a>
                        <a href="/TicTacToe/Game?fieldId=4"><div class="ruta" style="background-color:@Model.FieldColor[4];"></div></a>
                        <a href="/TicTacToe/Game?fieldId=5"><div class="ruta" style="background-color:@Model.FieldColor[5];"></div></a><br />
  
                        <a href="/TicTacToe/Game?fieldId=6"><div class="ruta" style="background-color:@Model.FieldColor[6];"></div></a>
                        <a href="/TicTacToe/Game?fieldId=7"><div class="ruta" style="background-color:@Model.FieldColor[7];"></div></a>
                        <a href="/TicTacToe/Game?fieldId=8"><div class="ruta" style="background-color:@Model.FieldColor[8];"></div></a>*@

            </div>

            <div id="score" class="resultBox">
                <table id="scoreBox">
                    <thead>Score</thead>
                    <tr>
                        <td>@ViewBag.Player1</td>
                        <td>@ViewBag.Player2</td>
                        <td>Tie</td>
                    </tr>
                    <tr>
                        <td id="Player1">0</td>
                        <td id="Player2">0</td>
                        <td id="Ties">0</td>
                    </tr>
                </table>

                <div class="bar"><h3>( X ) It's your turn!</h3></div>

            </div>



            <div class="bar"><h4>// made by Top Four Game Developers \\</h4></div>





</body>
</html>