@model WebApp.Models.PlayerModel
<html>
<head>
    <link href="reset.css" rel="stylesheet" />
    <link href="~/Content/Game.css" rel="stylesheet" type="text/css" />
   
</head>
<body>


      
    <h1>Tic Tac Toe</h1>

            @*Själva spelrutan är här*@
            <div id="board" class="gameBox">

                <a href="/TicTacToe/Move?fieldID=0" class="ruta" style="background-image:url(\"Pictures/X.png\");"> </a>
                <a href="/TicTacToe/Move?fieldID=1" class="ruta" style=""></a>
                <a href="/TicTacToe/Move?fieldID=2" class="ruta"></a><br />

                <a href="/TicTacToe/Move?fieldID=3" class="ruta"></a>
                <a href="/TicTacToe/Move?fieldID=4" class="ruta"></a>
                <a href="/TicTacToe/Move?fieldID=5" class="ruta"></a><br />

                <a href="/TicTacToe/Move?fieldID=6" class="ruta"></a>
                <a href="/TicTacToe/Move?fieldID=7" class="ruta"></a>
                <a href="/TicTacToe/Move?fieldID=8" class="ruta"></a>

            </div>
            
            @*Resultatrutan här*@
            <div id="score" class="resultBox">
                <table id="scoreBox">
                    <thead>Score</thead>
                    <tr>
                        <td>@ViewBag.Player1</td>
                        <td>@ViewBag.Player2</td>
                        <td>Tie</td>
                    </tr>
                    <tr>
                        <td id="Player1">0</td>
                        <td id="Player2">0</td>
                        <td id="Ties">0</td>
                    </tr>
                </table>

                <div class="bar"><h3>[ X ] It's your turn!</h3></div>

            </div>



            <div class="bar"><h4>// made by Top Four Game Developers \\</h4></div>



</body>
</html>

@*<a href="/TicTacToe/Game?fieldID=0" class="ruta" style="background-image:@Model.Symbol"></a>
<a href="/TicTacToe/Game?fieldID=1" class="ruta" style="background-color:@Model.Fields[1];"></a>
<a href="/TicTacToe/Game?fieldID=2" class="ruta" style="background-color:@Model.Fields[2];"></a><br />

<a href="/TicTacToe/Game?fieldID=3" class="ruta" style="background-color:@Model.Fields[3];"></a>
<a href="/TicTacToe/Game?fieldID=4" class="ruta" style="background-color:@Model.Fields[4];"></a>
<a href="/TicTacToe/Game?fieldID=5" class="ruta" style="background-color:@Model.Fields[5];"></a><br />

<a href="/TicTacToe/Game?fieldID=6" class="ruta" style="background-color:@Model.Fields[6];"></a>
<a href="/TicTacToe/Game?fieldID=7" class="ruta" style="background-color:@Model.Fields[7];"></a>
<a href="/TicTacToe/Game?fieldID=8" class="ruta" style="background-color:@Model.Fields[8];"></a>*@