@model GameEngine.TicTacToe
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Game.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="refresh" content="5; url=/TicTacToe/Game" />
    <title>GameOver</title>
</head>
<body>
    <div>
        <center>


  
                    <h1> @Model.GameInformation.GameOverMessage</h1>
                    <br />
                    <h2>Get ready for a another game...</h2>
               
 


        </center>
    </div>
</body>
</html>
