<html>
<head>
    <link href="reset.css" rel="stylesheet" />
    <link href="~/Content/Game.css" rel="stylesheet" type="text/css" />
    <h1>Tic Tac Toe</h1>
</head>
<body>


    <div class="box">
        <div class="boxer">
            <div id="rules" class="boxy">
                <h3>Rules:</h3><br>
                <p>
                    - X goes first<br>
                    - Take turns<br>
                    - Three markers in the same row, column, or diagonal wins<br>
            </div>

            <div id="board" class="boxy">
                <table id="bort">
                    <tr id="A">
                        <td class="one square corner"> </td>
                        <td class="two square middle"> </td>
                        <td class="three square corner"> </td>
                    </tr>
                    <tr id="B">
                        <td class="one square middle"> </td>
                        <td class="two square center"> </td>
                        <td class="three square middle"> </td>
                    </tr>
                    <tr id="C">
                        <td class="one square corner"> </td>
                        <td class="two square middle"> </td>
                        <td class="three square corner"> </td>
                    </tr>
                </table>
            </div>




            <div id="score" class="boxy">
                <table id="scoreBox">
                    <thead>Score</thead>
                    <tr>
                        <td>@ViewBag.Player1</td>
                        <td>@ViewBag.Player2</td>
                        <td>Tie</td>
                    </tr>
                    <tr>
                        <td id="Player1">0</td>
                        <td id="Player2">0</td>
                        <td id="Ties">0</td>
                    </tr>
                </table>

                <div class="bar"><h3>( X ) It's your turn!</h3></div>

            </div>



            <div class="bar"><h4>// made by Top Four Game Developers \\</h4></div>





</body>
</html>