<!DOCTYPE html>
@model WebApp.Models.PlayerModel


<html>
 <!-- test -->
<head>
    <link href="~/Content/Information.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>HostInformation</title>
</head>
<body>
    <div>

        <h1>Tic Tac Toe</h1>
       

<h2>@Model.UserName is waiting for an oppontent...</h2>
   <h2>Cookie = @Model.UserID</h2>

    </div>
</body>
</html>
@**@