
@{
    Layout = "~/Views/Shared/_LayoutInformation.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Information.css" rel="stylesheet" type="text/css" /> 
    <meta name="viewport" content="width=device-width" />
    <title>HostInformation</title>
</head>
<body>
    <div> 

        <h1>Information</h1>

        <input type="email" name="email" id="email" placeholder="email" required><br><br>

        <input type="submit" name="submit" id="submit" value="Let's go!">

    </div>
</body>
</html>
