
@{
    
    ViewBag.Title = "Tic Tac Toe";
}

<h1>@Html.ActionLink("Create Game", "Page2", "TicTacToe")</h1>
<h2>or</h2>
<h1>@Html.ActionLink("Join Game", "Page2", "TicTacToe")</h1>
@for (var i = 1; i < 10; i++)
{
    <div class="test"> </div>
    if (i == 3 || i == 6)
    {
        <br>
    }
}


