@{
    
    ViewBag.Title = "Tic Tac Toe";

}


<html>
 <!-- test -->
<head>
    <link href="~/Content/Main.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>

        <h1>Tic Tac Toe</h1>
        <h2>Enter Username</h2>

        <form action="Game" method="post">
            <input type="text" name="UserName" placeholder="username" required>
            <input type="submit" id="submit" value="let's go" />
        </form>

    </div>
</body>
</html>
 