<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/LudoStyle.css" rel="stylesheet" />

</head>
<body>

    @RenderBody()

</body>

</html> 