* {
    margin: 0;
    padding: 0;
}

body {
    background-color: orange;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
}

h1 {
    font-size: 65px;
    color: #3399ff;
    margin: 0;
}

#turn{
    font-size: 20px;
    margin:5px;
    color:red;
    font-weight:normal;
}

a {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-size: cover;
    padding: 20px;
    opacity: 0.7;
    transition: none;
}


.gameDiv {
    border: none;
    display: block;
    height: 350px;
    margin:20px;
    margin-top:10px;
}

.resultDiv {
    border: none;
    display: block;
    margin-top:10px;
}

#scoreDiv {
    border: 1px solid black;
    border-bottom: none;
    width: 267px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    padding-bottom:0;
    line-height:1.2;
}

#scoreTable {
    border-collapse: collapse;
    margin: 0 auto;
}

    #scoreTable td, tr,th {
        border: 1px solid #401304;
        width: 85px;
        text-align: center;
        padding: 7px;
        font-weight:normal;
    }

#displayName {
    font-size: 15px;
    color: black;
}
