body {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

h1 {
    font-size: 80px;
    color: #3399ff;
}

.bar {
    width: 100%;
    text-align: center;
    font-family: Tahoma;
    color: #3399ff;
    padding-top: 15px;
}



#bort {
    width: 100%;
    border-collapse: collapse;
}



.secret {
    font-size: 0.6em;
}

#rules {
    max-width: 300px;
    color: #401304;
    font-family: Tahoma, sans-serif;
    font-size: 1.1em;
}

#score {
    width: 300px;
    font-family: Tahoma, sans-serif;
    font-size: 1.3em;
}






#rules h3 {
    display: inline;
}

#scoreBox {
    border-collapse: collapse;
    margin: 0 auto;
}

    #scoreBox td {
        border: 1px solid #401304;
        width: 75px;
        text-align: center;
    }



p {
    text-align: left;
}

/*#test {
    background: url('O.png');
    background-size:100%;
}*/

a {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

#play {
    height:25px;
    width:100px;
    color:white;
    background-color:black;
    border-radius:5px;
    line-height:1.5;
}

.gameBox {
    width:500px;
    border:none;
    height:350px;
    display:block;
    margin:0 auto;
 
}
.resultBox {
    margin:0 auto;
    margin-top:20px;
    text-align:center;
}