body {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
}

h1 {
    font-size: 80px;
    color: #3399ff;
}

.bar {
    width: 100%;
    text-align: center;
    font-family: Tahoma;
    color: #3399ff;
    padding-top: 15px;
}



#bort {
    width: 100%;
    border-collapse: collapse;
}

.square {
    height: 110px;
    width: 110px;
}


#A .two {
    border-left: 4px solid #401304;
    border-right: 4px solid #401304;
    border-bottom: 4px solid #401304;
}

#B .one {
    border-top: 4px solid #401304;
    border-bottom: 4px solid #401304;
    border-right: 4px solid #401304;
}

#B .three {
    border-top: 4px solid #401304;
    border-bottom: 4px solid #401304;
    border-left: 4px solid #401304;
}

#C .two {
    border-top: 4px solid #401304;
    border-left: 4px solid #401304;
    border-right: 4px solid #401304;
}

.marker {
    height: 90px;
    width: 90px;
    font-family: sans-serif;
    font-size: 80px;
    background-color: #401304;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    float: center;
    margin: auto;
}


.secret {
    font-size: 0.6em;
}

#rules {
    max-width: 300px;
    color: #401304;
    font-family: Tahoma, sans-serif;
    font-size: 1.1em;
}

#score {
    width: 300px;
    color: #401304;
    font-family: Tahoma, sans-serif;
    font-size: 1.3em;
}

.box {
    width: 100%;
    display: block;
}

.gameBox {
    display:block;
    width:500px;
    height:300px;
    margin:0 auto;
    padding:0;
    border:none;
}

.resultBox {
    margin:0 auto;
    margin-top:50px;
}
.boxer {
    text-align: center;
}

#rules h3 {
    display: inline;
}

#scoreBox {
    border-collapse: collapse;
    margin: auto;
}

    #scoreBox td {
        border: 1px solid #401304;
        width: 75px;
        text-align: center;
    }



p {
    text-align: left;
}

.ruta {
    display:inline-block;
    width:100px;
    height:100px;
    margin:0;
}

a {
   display:block;
   width:100px;
   height:100px;
   margin:0;
}