body {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-family:Arial;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
    padding-left: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    color: black;
    text-decoration: none;
}
.gameBox {
    width: 100px;
    height: 100px;
    display:inline-block;
    border: 3px solid;
    border-color:black;
    margin:1px;
    border-radius:5px;
}
.gameBox a {
    color:green;
}
    .gameBox:hover a {
        color:red;
    }

h1 {
    font-size:80px;
}