body {
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center;
    font-family:Arial;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
    padding-left: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    color: #3399ff;
    text-decoration: none;
}
.gameBox {
    width: 120px;
    height: 120px;
    display:inline-block;
    border: 1px solid;
    border-color:black;
    margin:1px;
    border-radius:5px;
}
    .gameBox a {
       color: #3399ff;
    }


h1 {
    font-size: 80px;
    color: #3399ff;
}

h2 {
    color: #3399ff;
}

.joinbutton {
    background: #3399ff;
    border: 0;
    width: 80%;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    transition: background 0.4s linear;
    padding:7px;
}

.joinbutton a {
    color:white;
}

    .joinbutton:hover {
        background-color: aqua;
    }